version: "2.1"
services:
  heimdall:
    image: ghcr.io/linuxserver/heimdall
    container_name: heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ~/heimdall:/config
#    ports:
#      - 80:80
#      - 443:443
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.heimdall.entrypoints=web
      - traefik.http.routers.heimdall.rule=Host(`bigmacavecceci.commentfairedu.biz`)
networks:
  proxy:
    external: true
