version: '2'

services:
  db:
    image: mariadb
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - db:/var/lib/mysql
    networks:
      - proxy
    environment:
      - MYSQL_ROOT_PASSWORD=toortoor
      - MYSQL_PASSWORD=toortoor
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

  nextcloud:
    image: nextcloud
    restart: always
    # ports:
    #   - 15000:80
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud-http.entrypoints=web"
      - "traefik.http.routers.nextcloud-http.rule=Host(`nextcloud.commentfairedu.biz`)"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
    networks:
      - proxy
    links:
      - db
    volumes:
      - nextcloud:/var/www/html
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.commentfairedu.biz, dirisi.fun
      - SMTP_HOST=mail.commentfairedu.biz
      - SMTP_NAME=asso@commentfairedu.biz
      - SMTP_PASSWORD=toortoor
      - MYSQL_PASSWORD=toortoor
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db

volumes:
  nextcloud:
  db:

networks:
  proxy:
    external: true